@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 239, 249, 255;
  --background-start-rgb: 239, 249, 255;
  --background-end-rgb: 239, 249, 255;
}


body {
  color: rgb(31,41,55);
  background: rgb(239,249,255);
  width: 100%;
  height: 100%;
}

