
  /* GRID */
  
  .row {
    margin: 0;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    gap: 7px;
  }
  
  .row-middle {
    align-items: center;
  }
  
  .col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  
  .col-start {
    justify-content: flex-start;
    text-align: left;
    
  }
  
  .colCenter {
    justify-content: center;
    text-align: center;
    
  }
  
  .col-end {
    justify-content: flex-end;
    text-align: right;
  }
  
  /* Calendar */
  
  .calendar {
    display: block;
    position: relative;
    width: 100%;
  }
  
  .calendar .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    padding: 1.5em 0;
  }
  
  .calendar .header .icon {
    cursor: pointer;
    transition: 0.15s ease-out;
  }
  
  .calendar .days {
    text-transform: uppercase;
    font-weight: 400;
    color: #ccc;
    font-size: 70%;
    padding: 0.75em 0;
    
  }
  
  .calendar .body .cell {
    position: relative;
    height: 4em;
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s ease-out;
    font-size: 1.5em;
    border-radius: 10px;
  }
  
  .today {
    background-color: #508C97;
    color: white;
    border: 1px solid #000000;
  }
  
 .selected {
    background-color: #508c976b;
    color: white;
  }

  
  .calendar .body .cell .number {
    font-size: 82.5%;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 20px;

  }

  .jour {
    padding-top: 10px;
    font-size: 82.5%;
    line-height: 1;
  }

  .comboDay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .calendar .body .cell .bg {
    font-weight: 700;
    line-height: 1;
    color: #1a8fff;
    opacity: 0;
    font-size: 8em;
    position: absolute;
    top: -0.2em;
    right: -0.05em;
    transition: 0.25s ease-out;
    letter-spacing: -0.07em;
  }
  
  .calendar .body .bg,
  .calendar .body .selected .bg {
    opacity: 0.05;
    transition: 0.5s ease-in;
  }
 
  .calendar .body .col {
    flex-grow: 0;
    flex-basis: calc(100% / 8);
    width: calc(100% / 8);
  }
  